<p id="notice"><%= notice %></p>

<div>
  <p>
    <strong>Url:</strong>
    <a href=<%= @image.url %>><%= @image.url %></a>
  </p>
</div>
<div>
  Tags: <%= @image.tag_list %>
</div>
<div style="width: 100%">
  <img class="responsive" src=<%= @image.url %> />
</div>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
